name: docker_build_push

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push for base image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: ./base/Dockerfile
          platforms: linux/amd64
          tags: tamago3keran/dotfiles:base
          cache-to: type=local,dest=/tmp/docker-cache
