name: docker_build_push

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Docker image version (e.g., 1.0.0)'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: tamago3keran/dotfiles
          tags: |
            type=sha
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=${{ inputs.version }},enable=${{ inputs.version != '' && github.ref == 'refs/heads/main' }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push for base image
        uses: docker/build-push-action@v6
        with:
          push: true
          file: ./Dockerfile
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-to: type=local,dest=/tmp/docker-cache
